body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.centerfixed {
    max-width:800px;
    margin:auto;
    text-align:justify;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.linespaced {
    line-height: 150%;
}

.indented {
    margin-left: 40px;
}

div#error {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 25px;
    margin-left: 80px;
    font-weight: bold;
    color: #ff0000;
    background-color: #ffe080;
    display: none;
}

div#warning {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px;
    font-weight: bold;
    color: #ff8000;
}

span.searchitem {
    background-color: #ffe080;
}

span#disclaimer {
    border-radius:10px 10px 10px 10px; 
    padding:5px;
    cursor: help;
}

div#datasource,div#settings {
    display: None;
    background-color: #c0c0c0;
    position: fixed;
    top: 100px;
    width: 80%;
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius:10px 10px 10px 10px;
    z-index: 1;
    text-align: justify;
}

div#currentsettings {
    margin: auto;
    width: 80%;
    border: solid 2px;
    padding: 10;
}

textarea#usersettings {
    width: 83%;
    border: solid 2px;
    height: 100px;
    padding: 10;
}
div.lumiplots {
    text-align: center;
}

div.lumiplots img {
    width: 40%;
}

tr.inverse {
    background-color: #000000;
    color: #FFFFFF;
}

tr.inverse th {
    text-align: left;
}

.small {
    font-size: 70%;
    padding: 2px;
}

.sup {
    vertical-align: super;
    font-size: 50%;
    font-weight: normal;
}

.bottomline {
   border-bottom: 1px solid black;    
   padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    border: 0px;
}

div#search {
    margin-top: 50px;
}

div#searchresult div#numberofmatches {
    margin:auto;
    text-align: center;
}

div#searchresult table{
    margin:auto;
    margin-top: 20px;
}

table.commissioning {
    widh: 100%;
}

table.commissioning tr, table.commissioning td {
    border-bottom: 1px solid black;
    padding: 20px 20px 20px 20px;
}

table.hometable {
    width: 100%;
}
table.hometable td,th {
    padding: 5px 10px 5px 5px;
}

table.hometable tr:nth-child(odd) {
    background-color: #EBEBEB;
}

table.hometable th {
    text-align: right;
}

table.clearAndSimple {
     border-collapse: collapse;
     margin-top: 2cm;
}

table.simple {
     border-collapse: collapse;
}

table.clearAndSimple td, table.simple td {
   padding: 5px 10px 5px 10px;
}

.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

table.smallsimple {
    font-size: 80%;
    padding: 2px;
    border-collapse: collapse;
    margin-top: 1cm;
}

table.smallsimple td {
   padding: 2px 10px 2px 10px;
}

/*
table.clearAndSimple tr:nth-child(even) {
    background-color: #f0f4f4;
}
*/

table.clearAndSimple th, table.simple th, table.smallsimple th {
   padding: 3px 10px 3px 10px;
   text-align: left;
   border-bottom: solid 1px black;
}

table#graphic-input td {
    padding: 1px 5px 1px 5px;
}

table#graphic-input input, table#graphic-input select{
    width: 80px;
}

tbody#inputvalues input{
    width: 80px;
}

select#preset_select {
    width: auto;
}

p.header-headline {
    font-size: 160%;
    font-weight: bold;
    text-align: center;
}

div.minutes-text { 
    margin: 10px;
    padding: 10px;
}

div.minutes-text table {
    margin: 20px;
}
div.minutes-text p {
    margin: 20px;
    text-align: justify;
}

div.minutes-text h1 {
    font-size: 160%;
}

div.minutes-text h2 {
    font-size: 130%;
}

div.minutes-text h3 {
    font-size: 115%;
}

div.minutes-text table {
    border-collapse: collapse;
}

.indico.align-right {
    float: right;
}
.indico-iframe {
    border-radius: 12px;
    border-width: 7px;
    padding: 3px;
    box-shadow: 4px 4px 15px #000;
    margin: 20px;
    width: 100%;
}

.marker {
    background: #c0c0FF;
}


table.hi {
    width: 100%;
}
table.hi th.item {
    width: 250px;
    text-align: left;
}
table.hi th.value {
    width: 150px;
    text-align: left;
}
table.hi th.remark{
    text-align: left;
}
table.hi th {
    text-align: left;
    background: #c8d0c8;
}
table.hi td {
    vertical-align: top;
    padding-left: 30px;
}
table.hi tr:nth-child( even) {
    background: #e8f0e8;
}
table.hi h2 {
    text-align: center;
    margin-top: 80px;
}
table.hi h3 {
    margin-top: 50px;
} 

div.glidein {
    display: none;
    margin: 20px;
    padding: 10px;
    border: 2px solid #808080;
    background: #e0e0e0;
}

div#status {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 25px;
    width: 200px;
    background: #f0f0c0;
    z-index: 100;
    opacity: 0.8;
    padding: 5px 0px 5px 0px;
    margin: auto;
    text-align: center;
    color: #008000;
    font-weight: bold;
}
div.minutes-text table.massidigits {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table#massiannot td, table#massiannot th {
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.borderbottom {
    border-bottom: 1px solid black;
}

table#massiannot table.massidigits th, table#massiannot table.massidigits td  {
    text-align: left;
    vertical-align: top;
}

table#massiannot table.massidigits td.digit {
    text-align: right;
}

table.massidigits table.massivalues {
    font-size: 80%;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

td.digit {
    text-align: right;
}

table.integlumi input {
    width: 100px;
} 

table.bordered {
    background-color: white;
}

table.bordered, table.bordered td, table.bordered th {
    border: 1px solid black;
    table-layout: fixed;
    min-width: 200px;
    max-width: 200px;
}

table.bordered td {
    padding-left: 10px;
    padding-right: 10px;
}

table.bordered th {
    text-align: center;
}
table.bordered td {
    background: white;
}

.tab {
    display: None;
}

div#tabbuttons {
    /*overflow:hidden;*/
    width: 100%;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #a0a0d0;
}
div.tabbutton {
    display: inline-block;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px;
    font-size: 140%;
    font-weight: bold;
    border: 0px solid gray;
    background-color: #a0a0d0;
    border-radius: 5px;
    border-left:1px solid gray;
    border-right:1px solid gray;
}

div.activetabbutton {
    background-color: #d0d0ff;
}

div#pagetext {
    border: 4px solid #c00000;
    min-height: 500px;
}

div#placeholder {
    height:40px;
}

input#indicourl, input#date, input#shortdesc, textarea {
    width: 400px;
}

textarea {
    height: 80px;
}

input#newPageName {
    width: 300px;
}

p#Waiter {
    font-weight: strong;
    color: #A00000;
    display: none;
}

div#pileup_download {
    font-weight: strong;
    color: #00A000;
    display:none;
}

div#pileup_download_cmssw {
    font-weight: strong;
    color: #00A000;
    display:none;
}
