<!DOCTYPE HTML >
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CMS Lumi POG</title>
    <link rel="stylesheet" type="text/css" href="../css/site.css">
  </head>

  <body><!-- page header -->
<table style="width:100%">
	<tbody>
		<tr>
			<td style="width:72px"><img alt="CERN" height="72" src="../images/CMS-Color-Label.gif" width="72" /></td>
			<td>
			<p class="header-headline">Documentation for the Public Plots</p>

			<p class="center"><a href="../index.html">LumiPOG home</a></p>
			</td>
			<td style="width:72px"><img height="72" src="../images/LumiPOG.gif" width="72" /></td>
		</tr>
	</tbody>
</table>

<hr /><!-- page header end --><!-- page content -->
<div id="pageContent">
<h2>Introduction</h2>

<p style="text-align: left;">The LumiPOG is responsible for the maintenance of the Public Luminosity Plots. These are currently on a public Twiki page but should be migrated to a new website with a more functional and modern user interface (under development). The Twiki page is located at:&nbsp;</p>

<p style="text-align: center;"><a href="https://twiki.cern.ch/twiki/bin/view/CMSPublic/LumiPublicResults">https://twiki.cern.ch/twiki/bin/view/CMSPublic/LumiPublicResults</a>.</p>

<p style="text-align: left;">The page contains</p>

<ul>
	<li>For each year plots of integrated and peal luminosity and pileup estimates
	<ul>
		<li>These plots are in general available for all different running periods in the year (i.e. pp, Heavy Ion, low pileup, reference runs, ...)</li>
	</ul>
	</li>
	<li>Summary plot for various run periods.</li>
</ul>

<p>This document describes the generation of these plots as used since Run 2. The plots are generated with a set of script in the lumipro account on lxplus. During data taking periods the plots are automatically generated with a acronjob on lxplus. (See acrontab -l for the acrontab entry. In periods without beam the entries are commented out).</p>

<h2>Software</h2>

<p>Different procedures and scripts are used ot generate the lumi-plot or the pileup plots. Where the lumi-plot scripts are independent of CMSSW the scripts to generate the pileup plots rely on tools in CMSSW.&nbsp;</p>

<h3>Luminosity plots</h3>

<p>The scripts to generate the plots are in the git repository&nbsp;<a href="https://github.com/CMS-LUMI-POG/PublicPlots">https://github.com/CMS-LUMI-POG/PublicPlots</a>. A lot of useful documentation on the can be found in the Readme.md file of this repository. A clone of the repository on lxplus in ~/PublicPlots is used to generate the plots. For each data taking period there is a bash script which</p>

<ol>
	<li>Update the Normtags in the subdirectory ~/public/Normtags via &quot;git pull&quot;.</li>
	<li><em>sets up the environment to run the scripts</em>: To plot the luminosity the scripts run brilcalc. For this a lcoal brilcalc installation exists in ~/.local/bin. This installation is compatible with a centrally installed brilconda environment in /afs/cern.ch/cms/lumi and the PATH variable is set accordingly.&nbsp;</li>
	<li><em>runs the python scripts to generate the plots with a specific configuration file for each data taking period:&nbsp;</em>the script&nbsp;create_public_lumi_plots.py is launched with a configuration file as the only argument. This scripts launches brilcalc or uses cached results from a previous brilcalc run and with the resulting data produces the luminosity plots. The plots are stored in a location specified in the configuration file.&nbsp;&nbsp;More details are explained later.</li>
	<li><em>copies the generated plots to the web area on eos from where the plots are served (via the Twiki page):&nbsp;</em>The produced plots are the copied to&nbsp;/eos/user/l/lumipro/www/publicplots/{{year}|multiyear}&nbsp;from where they are served for the public Twiki page.&nbsp;</li>
	<li><em>copies the results of the brilcalc runs performed in step 3&nbsp;to various&nbsp;cache directories:&nbsp;</em>In order to create the plots spanning periods of multiple years the results of the brilcalc runs are copied from their per-year cache location (~/PublicPlots/public_lumi_plots_cache/{particle_year} into a directory {particle}_all. In addition all cached results are copied to a public copy of the cache in ~/public/lumiCache.&nbsp;</li>
	<li><em>In the script for the ongoing data taking run run the scripts to update the multi-year plots:&nbsp;</em>This is done for pp runs or PbPb runs only, where plots for periods of multiple years are interesting. The plots are then also copied to the web space.&nbsp;&nbsp;</li>
</ol>

<p>The name of these scripts follow the convention:</p>

<p>createlumipublic_{year}[_{runtype}].sh</p>
</div>

<div style="position: relative">where the _{runtype} is only present for runs which are not standard pp physics periods.</div>

<div style="position: relative">&nbsp;</div>

<h4 style="position: relative;">Configuration files</h4>

<p>Configuration files are named consistently like</p>

<p>public_brilcalc_plots_{particles[energy]}_{year}_{normtag|online}.cfg</p>

<p>In 2022 we do not use the online suffix anymore since we run brilcalc always with the brilcalc-normtag which is updated continuously during a data taking period.&nbsp;The entries in the configuration file are mostly self explanatory. in previous multiple color schemes were produced for each plot. Since 2022 we only produce one color scheme and plots have been modified to comply to CMS publication rules. It is important to note that the file suffix should be specified with a leading &#39;_&#39; since it is appended to the filename of the cache files and plots. The plot label is a label which appears in cursive font under the CMS label in the top left corner of the plot.</p>

<p>An important entry is the normtag_file: During data taking periods this is set to path to the&nbsp;normtag_BRIL.json file. Once a physics normtag is available this can be chosen to produce the plots.&nbsp;</p>

<p>It is also important to correctly specify the plot_directory in each configuration file. This entry must be consistent with the copy commands in the calling script to copy the plot to the web space.&nbsp;</p>

<p>Once the calibration for a specific data taking period changes due to some update of the Normtags the corresponding cache-data should be removed and the scripts should be re-run to reflect the up-to-date luminosity values. In general the luminosity plots should be consistent with the contents of the public results page&nbsp;<a href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/TWikiLUM">https://twiki.cern.ch/twiki/bin/viewauth/CMS/TWikiLUM</a>.</p>

<p>The following table lists the main scritpts and the configuration files used to create all plots from Run 2 onwards:</p>

<table align="center" border="1" cellpadding="1" cellspacing="1" class="clearAndSimple" style="width:90%;">
	<thead>
		<tr>
			<th scope="col">main script</th>
			<th scope="col">configuration file</th>
			<th scope="col">remark</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>createlumipublic_2015</td>
			<td>public_brilcalc_plots_pp_2015_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2015_5TeV.sh</td>
			<td>public_brilcalc_plots_pp5TeV_2015_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2015_PbPb.sh</td>
			<td>public_brilcalc_plots_PbPb_2015_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2016.sh</td>
			<td>public_brilcalc_plots_pp_2016_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2016_ppb.sh</td>
			<td>public_brilcalc_plots_ppb5TeV_2016_online.cfg<br />
			public_brilcalc_plots_ppb8TeV_2016_normtag.cfg</td>
			<td>In 2016 ppb data was taken at two different energies. The 5TeV run was performed on request of ALICE and was optimised for ALICE so that ATLAS and CMS only took very little luminosity in this run.&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2017.sh</td>
			<td>public_brilcalc_plots_pp_2017_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_5TeV2017.sh</td>
			<td>public_brilcalc_plots_pp5TeV_2017_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2018.sh</td>
			<td>public_brilcalc_plots_pp_2018_normtag.cfg</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2018_PbPb.sh</td>
			<td>public_brilcalc_plots_PbPb_2018_normtag.cfg<br />
			public_lumi_plots_pbpb_run2.cfg<br />
			public_lumi_plots_ions_run2.cfg</td>
			<td>The second configuration generates multi year plots for run-2. The third configurations does the same but with proton equivalent luminosity values.&nbsp;</td>
		</tr>
		<tr>
			<td>createlumipublic_2022.sh</td>
			<td>public_brilcalc_plots_pp_2022_normtag.cfg<br />
			public_lumi_plots_pp_run3.cfg<br />
			public_lumi_plots_pp_allyears.cfg</td>
			<td>The second configuration file is not yet used and will be only interesting from the second year of run 3 (2023) onwards.</td>
		</tr>
	</tbody>
</table>

<p><strong>Caveat:</strong></p>

<p>The plots are also saved in a directory structure which should be useful for the new website showing the plots. However this work is not yet completed since there are still open questions on how the plots will be organised. In particular the top subdirectory name is currently hardoded to &quot;Run 3&quot; which is of course only correct for Run-3 related plots.</p>

<p>&nbsp;</p>

<h3>Pileup Plots</h3>

<p>The production fo the pileup plots is slightly more involved than producing the luminosity plots since it involves running some tools from CMSSW.&nbsp;</p>

<p>The following steps need to be performed:</p>

<ol>
	<li>Find the most up-to-date date certification file as input to the analysis. This is available from the offline DQM data certification on eos. Since proccessing takes quite a bit of time proceed only if the data certification file is new (for each updated certification there is a new file in the eos directory where the filename contains the interval of runs which have been processed).&nbsp;</li>
	<li>With the found certification json file run brilcalc to produce an intermediate csv file with luminosity per bunch for the selected lumisections. Use the BRIL normtag for the ongoing 2022 run. (Physics normtag for previous runs)</li>
	<li>Then call the CMSSW utility makePileupJSON.py. For this call a script run_makePileupJSON.sh which first sets&nbsp;up the CMSSW enviroment (CMSSW_12_4_3 is used; an installation has been prepared in ~lumipro/CMSSW/) and then calls the tool. As a results the pileup_latest.json file is created. This file is copied to the public directory ~lumipro/public/pileupJSON/{year}/.</li>
	<li>Finally call the script to make the pileup plots: This script is located in ~lumipro/PublicPlots and called createpileuppublic_{year}.sh. This script first sets up the CMSSW envrionment and then calls the run_pileupcalc.py script with a configruation file &quot;public_pileup_plots_{particles}_{year}_{xsec}.cfg.&nbsp;</li>
	<li>pileupCalc.py generates some root plots with the pileup distribution. These are then read in by the script create_public_pileup_plots.py which is called with the same configuration file as run_pileupcalc.py in step 4.&nbsp;</li>
	<li>Finally the created plots are copied to the web space of the public plot twiki page. In addition the root file is copied into a cache directory with all pileup root files from all years to easily generate multi year plots.&nbsp;</li>
	<li>In the last step the multi year pileup plots are generated using a dedicated script&nbsp;reate_public_pileup_plots_allYears.py with a dedicated configuration&nbsp;public_pileup_plots_pp_allyears.cfg.</li>
</ol>

<p>All the steps above are executed by a python script called process_Pileup_{year}.py. This script contains in the top section some further documentation and some configuration parameters which need to be adapted for each year of running (and hence the {year} in the name of the file). The script is automatically executed by a anacron job which. There is one level of indirection (as for the automatically generated lumi plots): the anacron job points to a symbolic link in the ~lumipro/Pileup directory which in turn points to the master script for the run period in question. Note that the script is trying to catch all possible problems. This also means that you will not be notified by an email when the job fails but you should inspect at regular intervals the log file. This decision had been made since emails of the anacron jobs reach and annoy some people which are not at all involved with these scripts.</p>

<p>Pileup plots can be generated for various cross sections. The cross section is a parameter in the configuration file. For 2022 there is no recommended cross section yet and hence the plots are generated for the &quot;standard&quot; 80mb cross section which allows the results to be compared among LHC experiments and the LHC (it has been agreed that this cross section should be used for these comparisons).&nbsp;</p>

<p><em>Notes:</em></p>

<ul>
	<li>In the past, the steps 1-3 had been performed and maintained via an EPR task and the pileup_latest.json file had been stored on the offline DQM area in afs. Since the file is probably not used by anybody else than the lumipog to generate the plots, the pileup_latest.json file is now stored on the lumipro account (in the public area). The corresponding files for run2 are still available on the DQM certtifiation area on eos (and on the old afs area) and the configuration files for the pileup plots of Run 2 point to those files.&nbsp;</li>
	<li>The production of the pileup_latest.json file produces a very large intermediate csv file (the per bunch luminosity from brilcalc for all lumisections being considered). This file is stored and update in ~lumipro/Pileup. It is currently not deleted since the space is anyway needed to store the file for the next processing step. If the space needed by this file becomes too large it should be stored in eos or in /tmp (and deleted at the end fo the processing).</li>
	<li>It needs to be clarified if the root-file from pileupcalc.py should be made available for the public.</li>
</ul>

<p>&nbsp;</p>

<h3>Acrontab contents</h3>

<p>For reference here is the contents of the acrontab used at the beginning of Run3 (acrontab -l):</p>

<pre>
00 0,6,12,18 * * * lxplus.cern.ch /afs/cern.ch/user/l/lumipro/run_public_plots.sh &gt;&gt; /afs/cern.ch/user/l/lumipro/cron_logs/PublicPlots_2022.log
20 3 * * * lxplus.cern.ch /afs/cern.ch/user/l/lumipro/Pileup/processPileup.py &gt; /dev/null 2&gt;&amp;1 
</pre>

<div style="position: relative">&nbsp;</div>

<div style="position: relative">&nbsp;</div>

<div style="position: relative"><em>This web site is owned by the account <a href="http://consult.cern.ch/xwho?lumipog">lumipog</a> </em>.</div>
<!-- page trailer end -->

<p>&nbsp;</p>
</body>
</html>
